<h2>Select the skills you already know</h2>

<% @skills.each do |skill| %>
  <div>
    <button type="button" class="skill-button" id="<%= skill.name.downcase %>-button"><%= skill.name %></button>
  </div>
<% end %>
