<div class="container text-center">

  <div id="all-skills">
    <h2 id="instructions">Select the skills you already know</h2>

    <% @skills.each do |skill| %>
      <div class="skill-div">
        <button type="button" class="skill-button btn btn-lg btn-primary" id="<%= skill.name.downcase %>-button" data-skill-id="<%= skill.id %>"><%= skill.name %></button>
      </div>
    <% end %>

    <button type="button" class="btn btn-block btn-lg btn-danger" id="skills-done-button">Let's Cook!</button>
  </div>

</div>

