<h2>Select the skills you already know</h2>

<div id="all-skills">
  <% @skills.each do |skill| %>
    <div class="skill-div">
      <button type="button" class="skill-button btn btn-lg btn-primary" id="<%= skill.name.downcase %>-button"><%= skill.name %></button>
    </div>
  <% end %>

  <button type="button" class="btn btn-block btn-lg btn-danger" id="skills-done-button">Done!</button>

</div>

<div id="try-recipes">
  <div id="row-1">
    <div id="recipe-1"></div>
    <div id="recipe-2"></div>
    <div id="recipe-3"></div>
    <div id="recipe-4"></div>
  </div>
</div>
