body {
  padding-left: 20px;
}

h1 {
  font-family: 'Berkshire Swash', 'Helvetica Neue', 'Georgia';
  font-size: 80px;
  letter-spacing: -1.8px;
}

h1 span {
  margin-right: 8px;
}

div#all-skills {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.skill-div {
  display: inline-block;
  margin-right: 20px;
}

.btn {
  outline: none !important;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: #428bca;
}

#all-skills {
  overflow: hidden ;/* so animation doesn't jump */
}

#skills-done-button {
  width: 574px;
  margin-top: 20px;
}

#try-recipes {
  display:none;
}

.recipe-tile {
  display: inline-block;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-color: LightGray;
  box-sizing: border-box;
  width: 225px;
  height: 260px;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  color: black;
}

.skill-block {
  display: block;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-color: LightGray;
  box-sizing: border-box;
  width: 90%;
  height: 300px;
  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  color: black;
}

.hidden {
  display:none;
}

/*recipes index*/

.table > tbody > tr > th
{
  border-top: none;
  border-bottom: 1px solid #ddd;;
}

.table > tbody > tr > td {
  border-top: none;
}

.input_form {
  padding-right: 20px;
}

.photo-preview {
  width: 100px;
}
